
body{
    background: linear-gradient(to bottom left, #020258, #26527e, #2d96ca, #0d3e6e, #abc7ff);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.ai-image-generator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

.header{
    align-items: center;
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span{
    color: #de1889;
    font-weight:600;
}
.img-loading{
    
    justify-content: center;
}
.img-loading img{
    width: 512px;
    max-width: 100%;
    height: auto;
}

.search-box{
    display:inline-block;
    width: 1000px;
    height:80px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1f3540;
}

.search-input{
    width: 600px;
    height:50px;
    background: transparent;
    border:none;
    outline:none;
    font-size: 18px;
    color: white;
    padding-left:35px;
    margin-right:35px;
}

.search-input::placeholder{
    color: #999;
}

.generate-btn{
    display:flex;
    align-items:center;
    justify-content: center;
    width:300px;
    height: 85px;
    font-size: 20px;
    border-radius: 50px;
    background: #de1889;
    cursor: pointer;

}

.loading-bar{
    width: 0px;
    height:8px;
    background: #de1889;
}

.loading-text{
    font-size: 18px;
}

.loading-bar-full{
    width: 512px;
    height:8px;
    background: #de1889;
    transition: 15s;
}
.display-none{
    display:none;
}
